<div class="container">
  <div class="row">
    <div class="col-md-6">
        <h3>Bar Chart</h3>
      <app-bar-chart></app-bar-chart>
    </div>
    <div class="col-md-6">
        <h3>Line Chart</h3>
      <app-line-chart></app-line-chart>
    </div>
  </div>
  <div class="row">
      <div class="col-md-6">
          <h3>Radar Chart</h3>
          <app-radar-chart></app-radar-chart>
      </div>
      <div class="col-md-6">
        <h3>Mixed Chart</h3>
        <app-mixed-charts></app-mixed-charts>
    </div>
  </div>
</div>
